# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
g_key = 'AIzaSyCMmkSx0bBqftgOoynCw-AvYTlP-cJaBZI'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv('../API-challenge/weather_data.csv')
weather_data

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Dinghaicun,40,CN,1592632300,79,26.28,119.79,84.20,6.71
1,1,Avarua,77,CK,1592632300,64,-21.21,-159.78,71.60,8.05
2,2,San Andrés,20,CO,1592632301,79,12.58,-81.70,84.20,9.17
3,3,Ushuaia,99,AR,1592632188,93,-54.80,-68.30,35.60,4.70
4,4,Ayna,35,PE,1592632303,74,-12.65,-73.92,58.91,1.83
...,...,...,...,...,...,...,...,...,...,...
556,556,Saint-Augustin,88,CA,1592632570,95,51.23,-58.65,41.97,3.78
557,557,Fomboni,92,KM,1592632570,82,-12.28,43.74,76.75,23.15
558,558,Calabazar de Sagua,40,CU,1592632571,94,22.64,-79.90,75.20,2.24
559,559,Constantine,0,DZ,1592632571,81,36.37,6.61,53.60,2.24
560,560,Tadpatri,67,IN,1592632571,40,14.92,78.02,94.64,18.12

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
41,41,Palekastro,0,GR,1592632322,52,35.20,26.25,77.54,9.82
103,103,Arraial do Cabo,0,BR,1592632346,78,-22.97,-42.03,70.63,6.80
123,123,Tekirdağ,0,TR,1592632362,69,40.98,27.51,73.40,8.05
161,161,Bull Savanna,0,JM,1592632376,80,17.89,-77.59,74.84,5.53
199,199,Sumbe,0,AO,1592632407,59,-11.21,13.84,70.21,5.66
218,218,Geraldton,0,AU,1592632416,37,-28.77,114.60,71.60,5.82
220,220,Tyulyachi,0,RU,1592632416,49,55.89,50.24,73.40,8.95
272,272,Abnūb,0,EG,1592632432,34,27.27,31.15,78.80,9.17
366,366,Mehrān,0,IR,1592632477,27,33.12,46.16,78.80,2.24
433,433,Pozo Colorado,0,PY,1592632516,67,-23.49,-58.80,72.52,6.78
454,454,Ukholovo,0,RU,1592632527,56,53.79,40.49,75.00,3.44
461,461,Tataouine,0,TN,1592632528,60,32.93,10.45,75.20,9.17
486,486,Sharlyk,0,RU,1592632537,42,52.92,54.75,71.01,8.66
547,547,Uruçuí,0,BR,1592632566,55,-7.23,-44.56,73.98,5.57

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

                City Country    Lat     Lng Hotel Name
41        Palekastro      GR  35.20   26.25
103  Arraial do Cabo      BR -22.97  -42.03
123         Tekirdağ      TR  40.98   27.51
161     Bull Savanna      JM  17.89  -77.59
199            Sumbe      AO -11.21   13.84
218        Geraldton      AU -28.77  114.60
220        Tyulyachi      RU  55.89   50.24
272            Abnūb      EG  27.27   31.15
366           Mehrān      IR  33.12   46.16
433    Pozo Colorado      PY -23.49  -58.80
454         Ukholovo      RU  53.79   40.49
461        Tataouine      TN  32.93   10.45
486          Sharlyk      RU  52.92   54.75
547           Uruçuí      BR  -7.23  -44.56

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    params["location"] = f"{lat},{lng}"
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']


    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 41: Palekastro.
Closest hotel in Palekastro is Hotel Kastri Village.
------------
Retrieving Results for Index 103: Arraial do Cabo.
Closest hotel in Arraial do Cabo is Orlanova Hotel.
------------
Retrieving Results for Index 123: Tekirdağ.
Closest hotel in Tekirdağ is Ramada by Wyndham Tekirdag.
------------
Retrieving Results for Index 161: Bull Savanna.
Closest hotel in Bull Savanna is Eves rock away villa.
------------
Retrieving Results for Index 199: Sumbe.
Closest hotel in Sumbe is Hotel Ritz Sumbe.
------------
Retrieving Results for Index 218: Geraldton.
Closest hotel in Geraldton is Ocean Centre Hotel.
------------
Retrieving Results for Index 220: Tyulyachi.
Missing field/result... skipping.
------------
Retrieving Results for Index 272: Abnūb.
Missing field/result... skipping.
------------
Retrieving Results for Index 366: Mehrān.
Closest hotel in Mehrān is مجتمع رفاهی نور سپاه.
------------
Retrieving Results for Index 433: Pozo Colorado.
Closest hotel in Pozo Colorado is Hospedaje la Amistad.
------------
Retrieving Results for Index 454: Ukholovo.
Missing field/result... skipping.
------------
Retrieving Results for Index 461: Tataouine.
Closest hotel in Tataouine is Sangho Privilege Tataouine.
------------
Retrieving Results for Index 486: Sharlyk.
Closest hotel in Sharlyk is Gostinitsa "Mayak".
------------
Retrieving Results for Index 547: Uruçuí.
Closest hotel in Uruçuí is Formula Flat Uruçui.
------------
-------End of Search-------

In [8]:
# NOTE: Do not change any of the code in this cell
# I guess you can call me a rebel because i added this
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [9]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))