# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
g_key = 'AIzaSyCMmkSx0bBqftgOoynCw-AvYTlP-cJaBZI'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
weather_data = pd.read_csv('../API-challenge/weather_data.csv')
weather_data

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Ushuaia,40,AR,1592627307,86,-54.80,-68.30,37.40,3.36
1,1,Port Elizabeth,36,ZA,1592627497,41,-33.92,25.57,59.00,4.70
2,2,Westport,1,US,1592627497,83,41.14,-73.36,69.80,4.70
3,3,Amahai,99,ID,1592627498,83,-3.33,128.92,81.00,12.53
4,4,Puerto Ayora,76,EC,1592627467,94,-0.74,-90.35,69.01,6.58
...,...,...,...,...,...,...,...,...,...,...
555,555,Itaueira,0,BR,1592627707,71,-7.60,-43.03,73.11,7.65
556,556,Khovu-Aksy,85,RU,1592627708,38,51.13,93.60,68.97,4.61
557,557,Plouzané,78,FR,1592627708,100,48.38,-4.62,59.00,10.29
558,558,Dekernes,0,EG,1592627451,88,31.09,31.59,73.40,11.41
559,559,Câmara de Lobos,75,PT,1592627708,72,32.63,-16.97,68.00,9.17

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [6]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
53,53,Arraial do Cabo,0,BR,1592627277,80,-22.97,-42.03,71.37,8.57
97,97,Carnarvon,0,AU,1592627540,49,-24.87,113.63,73.40,5.82
314,314,Tomatlán,0,MX,1592627608,73,19.93,-105.25,75.79,0.13
555,555,Itaueira,0,BR,1592627707,71,-7.60,-43.03,73.11,7.65

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

                City Country    Lat     Lng Hotel Name
53   Arraial do Cabo      BR -22.97  -42.03
97         Carnarvon      AU -24.87  113.63
314         Tomatlán      MX  19.93 -105.25
555         Itaueira      BR  -7.60  -43.03

In [12]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    params["location"] = f"{lat},{lng}"
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']


    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 53: Arraial do Cabo.
Closest hotel in Arraial do Cabo is Hotel da Canoa.
------------
Retrieving Results for Index 97: Carnarvon.
Closest hotel in Carnarvon is Hospitality Carnarvon.
------------
Retrieving Results for Index 314: Tomatlán.
Closest hotel in Tomatlán is Hotel Hacienda Vieja.
------------
Retrieving Results for Index 555: Itaueira.
Closest hotel in Itaueira is Hotel Pousada Luz.
------------
-------End of Search-------

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))